* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;/* 3 */
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 80vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 0%;
  right: 0%;
}
.circle2 {
  bottom: 0%;
  left: 0%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  
}
.dashboard.active{
  display:none;
}
.link {
  display: flex;
  margin: 1rem 0rem;/* 2 0 */
  padding: 1rem 1rem;/* 1 5 */
  align-items: center;
}
.link h2 {
  padding: 0rem 1rem;/* 0 2 */
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 0.5rem;/*  */
  position: relative;
}

.pro img {
  position: absolute;
  top: -2rem;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 500;
}

/* GAMES */
.status {
  margin-bottom: 1rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games {
  margin: 3rem;/* 5 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 1rem 0rem; /* 2 0 */
  padding: 1rem; /* 2 */
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:1rem;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


  .toggle{
    position: absolute;
    top:3% ;
    left: 25%; /* left:calc(30% - 35px); */
    width:40px;
    height:40px;
    /* background: #f5f5f5; */
    cursor: pointer;
    /* border : 5px solid #65bedf;
    border-radius: 50%; */
}
.toggle::before{
    content:'\f053';
    font-family: fontAwesome;
    position: absolute;
    width:100%;
    height:100%;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color:#65bedf
}
.toggle.active::before{
    content:'\f0c9';
    
}
.toggle.active{
  left:0;
}


@media(max-width:900px){
  .glass{
    flex-direction: column;
  }
  .toggle{
    left: 90%;
  }
}